<p>Hello,</p>

<p>We wanted to confirm that <%= App.app_name %> has been removed from the <%= @team.name %> Slack workspace.</p>

<p>If you have an active subscription, please visit our <%= link_to 'billing page', subscriptions_url %> to cancel it.</p>

<p>We are sorry to see you go. If you were having trouble using the app or want to provide feedback, please visit our <%= link_to 'help page', help_url %> or <%= link_to 'contact us', support_url %>.</p>

<p>If you decide you want to reactivate your service, you can reinstall the app by visiting <%= link_to 'your dashboard', dashboard_url %>.</p>
