<p>Hello,</p>

<p>Your trial to <%= App.app_name %> currently installed in the <%= @team.name %> Slack workspace will expire on <%= @team.trial_expires_at.strftime('%B %d, %Y') %>.</p>

<p>When the trial expires, the app will be automatically uninstalled from your workspace.</p>

<p>If you would like to continue service, please subscribe on our <%= link_to 'billing page', subscriptions_url %>.</p>

<p>If you have any questions, please <%= link_to 'contact us', support_url %>.</p>
