<p>Welcome to <%= App.app_name %>!</p>

<p>Congrats. You've successfully installed <%= App.app_name %> in the <%= @team.name %> Slack workspace. As the administrator, you will likely want to familiarize yourself with how to configure and use the system. Head over to the <%= link_to 'help page', help_url %> for instructive materials.</p>

<p>You may use the app as much as you want during the trial period before you'll be prompted to subscribe. We'd love to hear what you think about it! Please <%= link_to 'leave us feedback', support_url %>.</p>
